EydapTickets/Services/eydap1022Port.wsdl

<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-.-->
<!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-.-->
<definitions targetNamespace="urn:eydap1022" name="eydap1022WebService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:eydap1022" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
   <types>
      <xsd:schema>
         <xsd:import namespace="urn:eydap1022" schemaLocation="http://gis-ws1022-as:8080/eydap1022WS/eydap1022Port?xsd=1"/>
      </xsd:schema>
   </types>
   <message name="getMunicipalities">
      <part name="getMunicipalities" element="tns:getMunicipalitiesRequest"/>
   </message>
   <message name="getMunicipalitiesResponse">
      <part name="getMunicipalitiesResponse" element="tns:getMunicipalitiesResponse"/>
   </message>
   <message name="FaultsMessageFaultMessage">
      <part name="fault" element="tns:FaultsMessageFault"/>
   </message>
   <message name="getStreets">
      <part name="parameters" element="tns:getStreetsRequest"/>
   </message>
   <message name="getStreetsResponse">
      <part name="parameters" element="tns:getStreetsResponse"/>
   </message>
   <message name="getAddressCoordinate">
      <part name="parameters" element="tns:getAddressCoordinateRequest"/>
   </message>
   <message name="getAddressCoordinateResponse">
      <part name="parameters" element="tns:getAddressCoordinateResponse"/>
   </message>
   <message name="getCrossCoordinate">
      <part name="parameters" element="tns:getCrossCoordinateRequest"/>
   </message>
   <message name="getCrossCoordinateResponse">
      <part name="parameters" element="tns:getCrossCoordinateResponse"/>
   </message>
   <message name="getWaterDetails">
      <part name="parameters" element="tns:getWaterDetailsRequest"/>
   </message>
   <message name="getWaterDetailsResponse">
      <part name="parameters" element="tns:getWaterDetailsResponse"/>
   </message>
   <portType name="eydap1022PortType">
      <operation name="getMunicipalities">
         <input message="tns:getMunicipalities"/>
         <output message="tns:getMunicipalitiesResponse"/>
         <fault message="tns:FaultsMessageFaultMessage" name="FaultsMessageFaultMessage"/>
      </operation>
      <operation name="getStreets">
         <input message="tns:getStreets"/>
         <output message="tns:getStreetsResponse"/>
         <fault message="tns:FaultsMessageFaultMessage" name="FaultsMessageFaultMessage"/>
      </operation>
      <operation name="getAddressCoordinate">
         <input message="tns:getAddressCoordinate"/>
         <output message="tns:getAddressCoordinateResponse"/>
         <fault message="tns:FaultsMessageFaultMessage" name="FaultsMessageFaultMessage"/>
      </operation>
      <operation name="getCrossCoordinate">
         <input message="tns:getCrossCoordinate"/>
         <output message="tns:getCrossCoordinateResponse"/>
         <fault message="tns:FaultsMessageFaultMessage" name="FaultsMessageFaultMessage"/>
      </operation>
      <operation name="getWaterDetails">
         <input message="tns:getWaterDetails"/>
         <output message="tns:getWaterDetailsResponse"/>
         <fault message="tns:FaultsMessageFaultMessage" name="FaultsMessageFaultMessage"/>
      </operation>
   </portType>
   <binding name="eydap1022PortBinding" type="tns:eydap1022PortType" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <operation name="getMunicipalities">
         <soap:operation soapAction="getMunicipalities"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="FaultsMessageFaultMessage">
            <soap:fault name="FaultsMessageFaultMessage" use="literal"/>
         </fault>
      </operation>
      <operation name="getStreets">
         <soap:operation soapAction="getStreets"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="FaultsMessageFaultMessage">
            <soap:fault name="FaultsMessageFaultMessage" use="literal"/>
         </fault>
      </operation>
      <operation name="getAddressCoordinate">
         <soap:operation soapAction="getAddressCoordinate"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="FaultsMessageFaultMessage">
            <soap:fault name="FaultsMessageFaultMessage" use="literal"/>
         </fault>
      </operation>
      <operation name="getCrossCoordinate">
         <soap:operation soapAction="getCrossCoordinate"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="FaultsMessageFaultMessage">
            <soap:fault name="FaultsMessageFaultMessage" use="literal"/>
         </fault>
      </operation>
      <operation name="getWaterDetails">
         <soap:operation soapAction="getWaterDetails"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="FaultsMessageFaultMessage">
            <soap:fault name="FaultsMessageFaultMessage" use="literal"/>
         </fault>
      </operation>
   </binding>
   <service name="eydap1022WebService">
      <port name="eydap1022Port" binding="tns:eydap1022PortBinding">
         <soap:address location="http://gis-ws1022-as:8080/eydap1022WS/eydap1022Port"/>
      </port>
   </service>
</definitions>